<div class="floating-header">
  <div class="back-btn" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </div>
  <div class="header-title">Plan a Drive</div>
</div>

<ion-content class="content-with-floating-header ion-padding">
  
  <div class="search-container">
    <div class="search-input-wrapper">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <input 
        type="text" 
        placeholder="Where to?" 
        [(ngModel)]="searchQuery" 
        (input)="onSearch({detail: {value: searchQuery}})"
      >
      <ion-icon 
        *ngIf="searchQuery" 
        name="close-circle" 
        class="clear-icon" 
        (click)="searchQuery = ''; searchResults = []"
      ></ion-icon>
    </div>
  </div>
  
  <div class="results-list" *ngIf="searchResults.length > 0">
    <div class="result-item" *ngFor="let result of searchResults" (click)="selectDestination(result)">
      <div class="icon-circle">
        <ion-icon name="location"></ion-icon>
      </div>
      <div class="result-info">
        <h3>{{ result.display_name.split(',')[0] }}</h3>
        <p>{{ result.display_name }}</p>
      </div>
    </div>
  </div>

  <div class="suggestions-list" *ngIf="searchResults.length === 0">
    <ion-list-header>
      <ion-label>Suggestions</ion-label>
    </ion-list-header>
    
    <div class="suggestion-card">
      <div class="icon-circle primary">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="info">
        <h3>Connect Calendar</h3>
        <p>Get time-to-leave reminders</p>
      </div>
      <ion-icon name="chevron-forward" class="arrow"></ion-icon>
    </div>

    <div class="suggestion-card">
      <div class="icon-circle success">
        <ion-icon name="home-outline"></ion-icon>
      </div>
      <div class="info">
        <h3>Home</h3>
        <p>Add Home Address</p>
      </div>
      <ion-icon name="chevron-forward" class="arrow"></ion-icon>
    </div>

    <div class="suggestion-card">
      <div class="icon-circle warning">
        <ion-icon name="briefcase-outline"></ion-icon>
      </div>
      <div class="info">
        <h3>Work</h3>
        <p>Add Work Address</p>
      </div>
      <ion-icon name="chevron-forward" class="arrow"></ion-icon>
    </div>
  </div>

</ion-content>
