ion-list-header {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  
  ion-icon {
    margin-right: 15px;
    color: #333;
  }
  
  &.logout-item {
    margin-top: 30px;
  }
}
