<ion-content [fullscreen]="true">
  <div class="floating-header">
    <div class="header-left">
      <div class="back-btn" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <div class="header-title">Community & Social</div>
    </div>
    <div class="header-right">
      <div class="action-btn" (click)="addFriend()">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="card-section">
      <ion-item lines="none" class="setting-item">
        <div class="icon-box" slot="start">
          <ion-icon name="eye-outline"></ion-icon>
        </div>
        <ion-label>
          <h2>Visible on Map</h2>
          <p>Allow friends to see you</p>
        </ion-label>
        <ion-toggle slot="end" [(ngModel)]="isVisible"></ion-toggle>
      </ion-item>
    </div>

    <div class="section-title">Friends ({{ friends.length }})</div>

    <div class="friends-list">
      <div class="friend-card" *ngFor="let friend of friends">
        <div class="friend-info">
          <div class="avatar-wrapper">
            <img [src]="friend.avatar" />
          </div>
          <div class="friend-details">
            <h2>{{ friend.name }}</h2>
            <p>{{ friend.status }}</p>
          </div>
        </div>
        <ion-button fill="outline" class="beep-btn" (click)="sendBeep(friend.name)">
          Beep 👋
        </ion-button>
      </div>
    </div>

    <div class="section-title">Groups & Chats</div>
    
    <div class="card-section">
      <ion-item lines="none" button detail class="group-item">
        <div class="icon-box tertiary" slot="start">
          <ion-icon name="people-outline"></ion-icon>
        </div>
        <ion-label>Map Chat</ion-label>
      </ion-item>
      
      <ion-item lines="none" button detail class="group-item">
        <div class="icon-box secondary" slot="start">
          <ion-icon name="car-sport-outline"></ion-icon>
        </div>
        <ion-label>Carpool Groups</ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
