ion-card {
  margin-bottom: 16px;
  --background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

ion-card-title {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
}

.card-icon {
  margin-right: 10px;
  color: var(--ion-color-primary);
  font-size: 1.4em;
}

ion-list-header {
  padding-left: 5px;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #666;
  text-transform: uppercase;
  font-size: 0.85em;
}
