<div class="floating-header">
  <div class="back-btn" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </div>
  <div class="header-title">Customization</div>
</div>

<ion-content class="content-with-floating-header ion-padding">
  
  <!-- Live Preview -->
  <div class="preview-container ion-text-center">
    <h3>Live Preview</h3>
    <div class="map-preview" [class.night-mode]="settings.mapMode === 'night'">
      <div class="road">
        <div class="lane-marker"></div>
      </div>
      <div class="car-marker">
        <ion-icon [name]="getCarIconName()" [color]="getCarIconColor()"></ion-icon>
      </div>
    </div>
  </div>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Map Display</ion-label>
    </ion-list-header>
    <ion-item class="setting-item">
      <ion-label>Mode</ion-label>
      <ion-select [(ngModel)]="settings.mapMode" (ionChange)="settingChanged('mapMode', $event)" interface="popover">
        <ion-select-option value="auto">Auto</ion-select-option>
        <ion-select-option value="day">Day</ion-select-option>
        <ion-select-option value="night">Night</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="setting-item">
      <ion-label>Car Icon</ion-label>
      <ion-select [(ngModel)]="settings.carIcon" (ionChange)="settingChanged('carIcon', $event)" interface="popover">
        <ion-select-option value="arrow">Blue Arrow</ion-select-option>
        <ion-select-option value="racecar">Race Car</ion-select-option>
        <ion-select-option value="truck">Truck</ion-select-option>
        <ion-select-option value="cat">Cat</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header>
      <ion-label>Voice & Sound</ion-label>
    </ion-list-header>
    <ion-item class="setting-item">
      <ion-label>Voice Directions</ion-label>
      <ion-select [(ngModel)]="settings.voice" (ionChange)="settingChanged('voice', $event)" interface="popover">
        <ion-select-option value="scout">Scout (Default)</ion-select-option>
        <ion-select-option value="jarvis">Butler</ion-select-option>
        <ion-select-option value="santa">Santa</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
